<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chỉnh sửa thông tin nhân viên</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/add-employee-form.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body class="container mt-4">
    <h2>Chỉnh sửa thông tin</h2>

    <form
      th:action="@{/Admin/employees/edit-employee}"
      th:object="${employeeDto}"
      method="post"
      class="mt-4"
    >
      <div class="form-inner">
        <div class="mb-3">
          <input type="hidden" th:field="*{employeeId}" />
          <label>Họ và tên</label>
          <input
            type="text"
            th:field="*{fullName}"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label>Số điện thoại</label>
          <input type="text" th:field="*{phone}" class="form-control" />
        </div>

        <div class="mb-3">
          <label>Công việc</label>
          <select th:field="*{role}" class="form-select" required>
            <option
              th:each="role : ${roles}"
              th:if="${role.name() != 'Admin'}"
              th:value="${role}"
              th:text="${role.name() == 'Sales' ? 'Nhân viên bán hàng'
                        : (role.name() == 'Business' ? 'Nhân viên kinh doanh'
                        : (role.name() == 'Warehouse' ? 'Thủ kho' : role.name()))}"
            ></option>
          </select>
        </div>

        <div class="mb-3">
          <label>Email (tên đăng nhập)</label>
          <input
            type="email"
            th:field="*{email}"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label>Mật khẩu</label>
          <input
            type="password"
            th:field="*{password}"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label>Xác nhận mật khẩu</label>
          <input
            type="password"
            th:field="*{passwordConfirm}"
            class="form-control"
            required
          />
          <p th:if="${message}" th:text="${message}" style="color: red"></p>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-warning">Xác nhận</button>
          <a th:href="@{/employees}" class="btn btn-secondary">Quay lại</a>
        </div>
      </div>
    </form>
  </body>
</html>
